/* FONTES */

@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");

}
@font-face {
	font-family: 'SansSerif';
	src: url("../fonts/Sans-Serif/Sans-Serif.ttf");

}


/* BODY */

body{
	font-family: "OpenSans";
	background-color: #f1ecec;
	width: 100%;
	font-size: 14px;
}

strong{
	color: rgba(61, 107, 146,1);
	font-size: 1.6rem;
	font-weight: bolder;

}



hr {
	margin-top: 1.5rem;
	margin-bottom: -0.3rem;
	border: 0;
	border-top: 0.04rem solid #F89728;
}

strong.col-xs-12.text-center {
	color: rgb(138 94 134);
	font-size: 2rem;
	font-weight: bolder;
}
strong.col-xs-8.text-center {
	color: rgb(138 94 134);
	font-size: 2rem;
	font-weight: bolder;
}

/* SECTION */

section#featureSection{
	position: relative;
        width: 100%;
        font-family: "OpenSans";
        font-size: 1.2rem;
        height: 84rem;
        margin-bottom: 15rem;
        top: 20rem;

}

div#containerFeatures {
    font-size: 1.2rem;
    padding: 3rem;
}

section #containerSection{
	    top: 8rem;
        position: relative;
        text-align: justify;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
        height: 77rem;
        box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
        -webkit-border-radius: 0 0 5px 5px;
}

section #sectionSuperior{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
	padding-left: 4rem;
	padding-right: 4rem;
	height: 69rem;
}

#textCasesSection strong {

    margin-top: 1rem;
    margin-bottom: 2rem;
}

section #selectFeatureSection{
	background-color: rgba(245, 245, 245,0.9);
	box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
	-webkit-border-radius: 0 0 5px 5px;

}

select {
    border-radius: 2rem;
    width: 29rem;
}

select:focus {
                box-shadow: 0 0 0 0;
                outline: 0;

            }

label {
display: inline-block;
    max-width: 100%;
    margin-bottom: 2.5rem;
    font-weight: 800;
    font-size: 1.3rem;
}

label#urlLabel {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0rem;
    padding-top: 1rem;
    flex-wrap: nowrap;
    align-items: center;
}

input#setUrl {
    width: 89%;
    margin-left: 1rem;
}

label#loginLabel {
    width: 90%;
    margin-top: 1rem;
}

input#setLogin {
    width: 70%;
    margin-left: 1rem;
}

label#passwordLabel {
    margin-bottom: 0rem;
}

input#setPassword {
    width: 21.6rem;
    margin-left: 0.7rem;
}
.form {
	max-width: 600px;
	margin: auto;
	padding-top: 4rem;

}

.fieldset {
	display: none;
	position: relative;
}

#fieldsets {
display: block;
    /* max-width: 655px; */
    height: 50rem;
    margin: 5rem;
    padding: 2rem;
    box-shadow: 1px 1px 15px #999;
    max-height: 84ch;
    max-width: 109ch;
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 2.4rem;
    scroll-behavior: smooth;
}

div#containerBotaoExecutar {
	    position: relative;
        width: 50%;
        left: 31%;
        bottom: 1rem;

}

section .botaoFeature{
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
	position: relative;
	background: rgba(42, 144, 42 , 0.9);
	border-radius: 2rem;
	box-shadow: 3px 2px 2px #555;
	padding: 0.8rem;
	font-family: "OpenSans";
	color: rgb(245, 245, 245,0.9);
	width: 70%;
	font-size: 1.01rem;
}

section .botaoFeature:hover{
	background: rgba(36, 82, 36 , 0.9);
	border: 1px solid #555;
	box-shadow: inset 3px 2px 2px #323232;
	color: #AAA;
	text-decoration: none;
	text-shadow: #d6c6d5;
	transition: all 250ms linear;
}

section .botaoFeature i{
	margin-left: 10px;
}

section .fa{
	margin: 0.2rem;
	margin-left: 0.5rem;
	font-size: 1rem;
}

section .sections {
	    width: 40%;
        padding: 2rem;
        margin-right: 6rem;
        margin-left: 2rem;
}

section strong{
	font-size: 1.6rem;
	color: rgb(138 94 134);
	font-weight: bolder;
}

section #textCasesSection{
	background-color: rgba(245, 245, 245,0.9);
        box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
        -webkit-border-radius: 0 0 5px 5px;
        position: relative;
        font-size: 1rem;
        height: 69rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 2rem;

}

section#videosSection{
	position: relative;
	width: 100%;
	font-family: "OpenSans";
	font-size: 1.2rem;
	height: 70rem;
	margin-top: 18rem;
	display: inline-flex;
}

section #containerVideo{

	position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
}

.col-xs-6 {
	width: 55%;
}

section #video{
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section #video2{
    position: relative;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section video {
	width: 100%;
}

video {
    margin: 1rem;
}
video#iframeNavegador {
    width: 79.5%;
}
video#iframeNavegador2 {
    width: 85.3%;
}

video#iframeNavegador3 {
    width: 80%;
}
video#iframeNavegador4 {
    width: 85%;
}

section #containerVideo2{

	position: relative;
	padding-right:5rem;
	padding-left:5rem;
}
section #video2{

	position: relative;
	margin: 0rem;

}
section video2 {
	width: 100%;
}

#myProgress {
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #ddd;
	border-radius: 32rem;
	margin-top: 0.5rem;
}

#myBar {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;
	border-radius: 32rem;
}

#label {
	text-align: center;
	line-height: 30px;
	color: white;
}

#myProgress2 {
position: relative;
    width: 80.5%;
    left: 11rem;
    height: 30px;
    background-color: #ddd;
    border-radius: 32rem;
    margin-top: 0.5rem;
}

#myBar2 {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;
	border-radius: 32rem;
}

#label2 {
	text-align: center;
	line-height: 30px;
	color: white;
}

#myProgress3 {
position: relative;
    width: 80.5%;
    left: 11rem;
    height: 30px;
    background-color: #ddd;
    border-radius: 32rem;
    margin-top: 0.5rem;
}

#myBar3 {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: #4CAF50;
	border-radius: 32rem;
}

#label3 {
	text-align: center;
	line-height: 30px;
	color: white;
}

.modal-content {
    border: none;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    width: 86%;
    transform: translate(0,0);
}

span {
    color: whitesmoke;
}

.simulacao {
width: 100%;
}

.col-xs-1 {
    top: -22rem;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.5;
}

.col-xs-1:hover {
    opacity: 1;
}


strong#aguardeRelatorio {
    top: 3rem;
    font-size: 1.5rem;
    border-radius: 4rem;
    display: none;
}

button#gerarRelatorio {
	background-color: rgb(255 255 255 / 0%);
	cursor: pointer;
	margin-top: 3rem;
	font-size: 13.3px;
	font-weight: 400;
	line-height: 14px;
	max-width: 30rem;
	position: relative;
	text-decoration: none;
	display: none;
}

button#gerarRelatorio a{
	background: rgb(245 245 245);
	border: 1px solid #785675;
	color: rgb(120 86 117);
	border-radius: 2rem;
	display: inline-flex;
	box-shadow: 3px 2px 2px #555;
	font-family: "OpenSans";
	margin-bottom: 0rem;
	text-align: center;
	height: 3rem;
	width: 20rem;
	font-size: 1.02rem;
	transition: all 30ms linear;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	text-decoration: none;
}

button#gerarRelatorio a:hover{
	background: rgb(165 159 159);
	border: 1px solid rgb(95 60 92);
	box-shadow: inset 3px 2px 2px #323232;
	color: rgb(120 86 117/80%);
	text-decoration: none;
	text-shadow: #d6c6d5;
	transition: all 250ms linear;
}



